body {
  font: 25px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
